/* -----------------------------------------------------------
   FONTES IMPORTADAS DO GOOGLE FONTS
----------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* -----------------------------------------------------------
   RESET GERAL
----------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------------------------------------------
   ESTILO DE FRAME
----------------------------------------------------------- */
header {
    background: #27187E;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 8px 15px rgba(35, 61, 77, 0.9);
}

.menu {
    display: flex;
    gap: 25px;
}

.links {
    position: relative;
    color: #f7f7ff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 2px 0;

    transition: 0.5s;
}

.links:hover {
    text-shadow: 0 0 5px rgb(30, 15, 170),
        0 0 10px rgba(10, 27, 255, 0.959);
    transform: scale(1.08);
}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: #f7f7ff;
    transition: width 0.3s ease;
    box-shadow: 0px 8px 15px rgba(242, 250, 255, 0.9);
}

.links:hover::after {
    width: 100%;
}

.destaque {
    border: 2px solid #FFE14C;
    position: relative;
    color: #f7f7ff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 2px;
    transition: 0.5s;
    border-radius: 10px;
}

.destaque:hover {
    transform: scale(1.08);
    box-shadow: 0px 8px 15px rgba(199, 236, 33, 0.9);
    color: #27187E;
    background: #FFE14C;
}

.links:active {
    transform: scale(0.94);
}

.destaque:active {
    transform: scale(0.94);
}

main {
    padding: 120px 40px;
    background: #FFEBAF;
}

.footer {
    background: #111;
    color: #fff;
    padding: 40px 20px;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    justify-content: flex-start;
    text-align: left;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    transition: 0.3s;
    align-items: flex-start;
    margin-left: 70px;
}

.footer-section h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: #e6e6e6;
    padding-left: 0px;
}

.footer-section a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 14px;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #fff;
    transform: scale(1.07);
}

.footer-direitos {
    border-top: 1px solid #333;
    padding-top: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-direitos h3 {
    color: #777;
    font-size: 14px;
    margin: 0;
    transition: 0.5s;
}

.footer-direitos h3:hover {
    color: #fff;
    transform: scale(1.07);
    transition: 0.5s;
}

.footer-direitos .h3linksfooter {
    display: flex;
    gap: 25px;
}

.footer-direitos a {
    color: #777;
    font-size: 20px;
    transition: 0.3s;
}

.footer-direitos a:hover {
    color: #fff;
}

.instagramleo {
    color: #27187E;
    font-size: 45px;
    transition: 0.3s;
}

.instagramleo:hover {
    color: black;
    transition: 0.3s;
    transform: scale(1.08);
}

/* -----------------------------------------------------------
   ICONES DAS REDES SOCIAIS
----------------------------------------------------------- */
.fa-instagram {
    font-size: 35px;
}

.fa-square-x-twitter {
    font-size: 35px;
}

.fa-youtube {
    font-size: 35px;
}

.fa-tiktok {
    font-size: 35px;
}

.fa-facebook {
    font-size: 35px;
}

.fa-snapchat {
    font-size: 35px;
}

.fa-twitch {
    font-size: 35px;
}

/* -----------------------------------------------------------
   TABELAS
----------------------------------------------------------- */

.clipprancheta {
    width: 160px;
    height: 50px;
    background-color: #6e6e6e;
    border-radius: 10px 10px 5px 5px;
    margin: 0 auto;
    margin-bottom: -10px;
    z-index: 10;
    position: relative;
    box-shadow: inset 4px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip-metal {
    width: 80px;
    height: 18px;
    background-color: #a8a8a8;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


.produtos-tabela {
    padding: 20px;
    transition: 0.5s;
    border: 1px solid #27187E;
    border-radius: 30px;
    background-color: #a76d2c;
    box-shadow: 5px 12px 30px 5px rgba(185, 149, 82, 0.85);
}

.produtos-tabela table {
    width: 100%;
    border-collapse: collapse;
    background: #FFEBAF;
    font-family: 'Poppins', sans-serif;
}

.produtos-tabela th,
.produtos-tabela td {
    border: 1px solid #27187E;
    padding: 10px;
    text-align: center;
}

.produtos-tabela th {
    background: #27187E;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.produtos-tabela td img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.5s;
}

.produtos-tabela tr:nth-child(even) {
    background-color: #fff5d1;
}

.produtos-tabela tr:hover {
    background-color: #FFE14C;
    color: #27187E;
    font-weight: bold;
    transition: 0.5s;
}


.produtos-tabela td img:hover {
    transform: scale(1.07);
    transition: 0.5s;
}

td {
    transition: 0.5s;
}

tr {
    transition: 0.5s;
}

/* -----------------------------------------------------------
   IMAGEM DO HEADER
----------------------------------------------------------- */
.foto-header {
    height: 70px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
    filter: brightness(1.40);
}

.foto-header:hover {
    box-shadow: 0px 8px 15px rgba(23, 9, 206, 0.9);
    filter: brightness(1.60);
    transition: 0.5s;
    transform: scale(1.08);
    background-color: #f7f7ff;
    border-bottom: #3618e0;
}


/* -----------------------------------------------------------
   SCROLLBAR PERSONALIZADA
----------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1F1A53;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(23, 15, 128, 0.9) 0%, #4740A3 60%);
    border-radius: 10px;
}


/* -----------------------------------------------------------
   TIPOGRAFIA
----------------------------------------------------------- */
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: #27187E;
    letter-spacing: 4px;
    padding-left: 20px;
    padding-top: 20px;
    text-shadow: 0 0 4px #3618e0;
    transition: 0.5s;
}

.sombraamarela {
    text-shadow: 0px 8px 15px rgba(224, 203, 13, 0.9);
}

h1:hover {
    text-shadow: 0 0 10px #3618e0;
    transition: 0.5s;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 45px;
    letter-spacing: 3px;
    color: rgb(190, 52, 52);
    transition: 0.5s;
}

h2:hover {
    text-shadow: 0 0 4px #dbdbdb;
    transition: 0.5s;
}

h3 {
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    color: #1F1A53;
}

.h3linksfooter {
    padding-left: 0px;
    font-size: 12px;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    transition: 0.3s;
}

.h3linksfooter:hover {
    transform: scale(1.07);
    transition: 0.3s;
    color: #fff;
}


.maior {
    font-size: 40px;
}

.branco {
    color: white;
}

.h2maior {
    font-size: 80px;
}

/* -----------------------------------------------------------
   ANIMAÇÃO DO INÍCIO
----------------------------------------------------------- */
.intro-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(0, 0, 0);
    z-index: 1;
}

.intro-container img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding-top: 114px;
}

.intro-gif {
    opacity: 1;
    animation: fadeOut 1.5s ease forwards;
    animation-delay: 1.7s;
    transition: 0.5s;
}

.intro-gif2 {
    opacity: 1;
    animation: fadeOut 1.5s ease forwards;
    animation-delay: 1.7s;
}

.intro-final {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 1.7s;
    transition: 0.5s;
}

.intro-finalmvp {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    animation-delay: 1.7s;
    transition: 0.5s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.overlay-mvp {
    opacity: 0;
    animation: fadeInOverlay 1.2s ease forwards;
    animation-delay: 2.2s;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 40%;
    max-width: 600px;
    text-align: center;
    color: white;
    z-index: 10;
    background: rgba(0, 0, 0, 0.205);
    padding: 25px 45px;
    border-radius: 12px;
}

@keyframes fadeInOverlay {
    0% {
        opacity: 0;
        transform: translate(-50%, -10%) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -20%) scale(1);
    }
}

.overlay-mvp h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: yellow;
}

.overlay-mvp h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.btn-mvp {
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.4s ease;
    box-shadow: 0px 8px 15px rgba(206, 25, 25, 0.9);
    display: inline-block;
    transition: 0.4s;
}

.btn-mvp:hover {
    background: #dcf308;
    color: #27187E;
    box-shadow: 0px 8px 15px rgba(231, 235, 11, 0.9);
    transform: scale(1.08);
    transition: 0.4s;
}

.btn-mvp:active {
    transform: scale(0.92);
}

/* -----------------------------------------------------------
   IMAGENS
----------------------------------------------------------- */

.img-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    display: block;
}

.img-left {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    object-fit: contain;
    display: block;
}

.img-center {
    float: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    object-fit: contain;
    display: block;
    ;
}


.fotos {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 168px;
    width: 300px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-larry {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 400px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-copa {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 230px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-draft {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 500px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-lottery {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 500px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-mediaday {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 360px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-preseason {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 400px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-trade {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 400px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-halldafama {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 225px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.fotos-premios {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 300px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-james {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 300px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-inter {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 200px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-argentina {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 300px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-evologos {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: 600px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.fotos-eras {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 700px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-2k26 {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 500px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-arrecurry {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 500px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-etec {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: auto;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-eu {
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 300px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

.foto-todostimes {
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    margin-left: 20px;
    margin-right: 10px;
    border: 5px solid #27187E;
    transition: 0.5s;
    height: auto;
    width: 400px;
    background-color: #ffffff;
    position: relative;
    top: -18px;
}

/* -----------------------------------------------------------
   Foto Times
----------------------------------------------------------- */
.foto-times {
    margin-left: 20px;
    margin-right: 10px;
    transition: 0.5s;
    height: 200px;
    width: auto;
    position: relative;
    top: 10px;
}

.foto-utahjazz {
    margin-left: 20px;
    margin-right: 10px;
    transition: 0.5s;
    height: 120px;
    width: auto;
    position: relative;
    top: 10px;
}

.foto-sanantoniospurs {
    margin-left: 20px;
    margin-right: 10px;
    transition: 0.5s;
    height: 180px;
    width: auto;
    position: relative;
    top: 10px;
}

/* -----------------------------------------------------------
   Fotos Times Hover
----------------------------------------------------------- */
.foto-times:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.foto-utahjazz:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.foto-sanantoniospurs:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

/* -----------------------------------------------------------
   Fotos Hover
----------------------------------------------------------- */
.fotos:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-larry:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-copa:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-draft:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-lottery:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-mediaday:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-preseason:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-trade:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-halldafama:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.fotos-premios:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-james:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-inter:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-argentina:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.intro-final:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-evologos:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.fotos-eras:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-arrecurry:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-etec:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-eu:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-todostimes:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

.foto-2k26:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    border-color: rgb(190, 52, 52);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

/* -----------------------------------------------------------
   DIVs
----------------------------------------------------------- */

.fundotexto {
    background-color: rgba(188, 148, 226, 0.158);
    border-radius: 15px;
    padding: 16px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0 12px 30px 5px rgba(0, 33, 71, 0.8);
    overflow: hidden;
    transition: 0.5s;
}

.fundotexto2 {
    background-color: rgba(188, 148, 226, 0.158);
    border-radius: 15px;
    padding: 16px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0 12px 30px 5px rgba(0, 33, 71, 0.8);
    overflow: hidden;
    transition: 0.5s;
}

.fundotexto:hover {
    transform: scale(1.005);
    transition: 0.5s;
}

.centro {
    justify-content: center;
    align-items: center;
    display: flex;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    border-left: 2px solid #ffffff;
    min-width: 150px;
    width: 10%;
}

.stat {
    padding: 6px 0;
    border-bottom: 1px solid #ffffff;
    color: white;
    font-weight: bold;
}

.stat:last-child {
    border-bottom: none;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: #dddddd;
}

/* -----------------------------------------------------------
   MURAL 
----------------------------------------------------------- */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.galeria figure {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    text-align: center;
}

.galeria img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria figcaption {
    margin-top: 4px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.galeria img:hover {
    transform: scale(1.08);
    transition: 0.5s;
    filter: brightness(1.08);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}


/* -----------------------------------------------------------
   DIVs Times
----------------------------------------------------------- */
.fundo-boston {
    background-color: #15860b;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(5, 143, 12, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-brooklyn {
    background-color: #272727;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-newyorkknicks {
    background-color: #f37d0e;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(240, 129, 26, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-philadelphia76ers {
    background-color: #155d97;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(9, 110, 192, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-torontoraptors {
    background-color: #0f0f0f;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(19, 19, 19, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-chicagobulls {
    background-color: #f13f3f;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(248, 54, 54, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-clevelandcavaliers {
    background-color: #790427;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(224, 15, 78, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-detroitpistons {
    background-color: #0018a0;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(43, 9, 196, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}


.fundo-indianapacers {
    background-color: #172679;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(40, 18, 134, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-milwaukeebucks {
    background-color: #065012;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(5, 107, 30, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-atlantahawks {
    background-color: #c4333f;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(221, 21, 71, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-charlottehornets {
    background-color: #1c7979;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(16, 184, 184, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-miamiheat {
    background-color: #8b0618;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(129, 10, 49, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-orlandomagic {
    background-color: #0f4fb1;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(4, 56, 168, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-washingtonwizards {
    background-color: #132e5f;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(7, 38, 121, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-denvernuggets {
    background-color: #051c47;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(1, 22, 80, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-minnesotatimberwolves {
    background-color: #003253;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(1, 34, 126, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-oklahomacitythunder {
    background-color: #0c7ad4;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(10, 111, 241, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-portlandtrailblazers {
    background-color: #d6252e;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(248, 14, 65, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-utahjazz {
    background-color: #56019b;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(105, 0, 167, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-goldenstatewarriors {
    background-color: #003688;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(1, 35, 187, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-laclippers {
    background-color: #002a52;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(0, 46, 99, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-losalgeleslakers {
    background-color: #56019b;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(105, 0, 167, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-phoenixsuns {
    background-color: #070e4d;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(0, 26, 143, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-sacramentokings {
    background-color: #5b2b82;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(119, 33, 168, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-dallasmavericks {
    background-color: #067cc5;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(4, 140, 194, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-houstonrockets {
    background-color: #b81c31;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(223, 36, 67, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-memphisgrizzlies {
    background-color: #6169af;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(71, 86, 153, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-neworleanspelicans {
    background-color: #131b5f;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(0, 26, 143, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.fundo-sanantoniospurs {
    background-color: #000000;
    border-radius: 15px;
    padding: 32px;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 300px;
    box-shadow: 0 12px 30px 5px rgba(26, 26, 29, 0.85);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

/* -----------------------------------------------------------
   DIVs Hover
----------------------------------------------------------- */
.fundo-boston:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(5, 143, 12, 0.945);
    transition: 0.5s;
}

.fundo-brooklyn:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(0, 0, 0, 0.945);
    transition: 0.5s;
}

.fundo-newyorkknicks:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(240, 129, 26, 0.945);
    transition: 0.5s;
}

.fundo-philadelphia76ers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(9, 110, 192, 0.945);
    transition: 0.5s;
}

.fundo-torontoraptors:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(19, 19, 19, 0.945);
    transition: 0.5s;
}

.fundo-chicagobulls:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(240, 47, 47, 0.945);
    transition: 0.5s;
}

.fundo-clevelandcavaliers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(158, 3, 42, 0.945);
    transition: 0.5s;
}

.fundo-detroitpistons:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(6, 20, 206, 0.945);
    transition: 0.5s;
}

.fundo-indianapacers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(26, 33, 124, 0.945);
    transition: 0.5s;
}

.fundo-milwaukeebucks:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(7, 95, 12, 0.945);
    transition: 0.5s;
}

.fundo-atlantahawks:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(179, 29, 54, 0.945);
    transition: 0.5s;
}

.fundo-charlottehornets:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(14, 150, 143, 0.945);
    transition: 0.5s;
}

.fundo-miamiheat:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(160, 10, 23, 0.945);
    transition: 0.5s;
}

.fundo-orlandomagic:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(5, 29, 167, 0.945);
    transition: 0.5s;
}

.fundo-washingtonwizards:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(9, 44, 110, 0.945);
    transition: 0.5s;
}

.fundo-denvernuggets:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(3, 29, 77, 0.945);
    transition: 0.5s;
}

.fundo-minnesotatimberwolves:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(0, 37, 85, 0.945);
    transition: 0.5s;
}

.fundo-oklahomacitythunder:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(1, 108, 209, 0.945);
    transition: 0.5s;
}

.fundo-portlandtrailblazers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(185, 7, 7, 0.945);
    transition: 0.5s;
}

.fundo-utahjazz:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(105, 0, 167, 0.945);
    transition: 0.5s;
}

.fundo-goldenstatewarriors:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(2, 48, 199, 0.945);
    transition: 0.5s;
}

.fundo-laclippers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(0, 34, 66, 0.945);
    transition: 0.5s;
}

.fundo-losalgeleslakers:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(96, 0, 175, 0.945);
    transition: 0.5s;
}

.fundo-phoenixsuns:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(2, 21, 105, 0.945);
    transition: 0.5s;
}

.fundo-sacramentokings:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(157, 32, 206, 0.945);
    transition: 0.5s;
}

.fundo-dallasmavericks:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(1, 122, 170, 0.945);
    transition: 0.5s;
}

.fundo-houstonrockets:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(189, 46, 46, 0.945);
    transition: 0.5s;
}

.fundo-memphisgrizzlies:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(73, 86, 143, 0.945);
    transition: 0.5s;
}

.fundo-neworleanspelicans:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(10, 30, 117, 0.945);
    transition: 0.5s;
}

.fundo-sanantoniospurs:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px 15px rgba(36, 37, 39, 0.945);
    transition: 0.5s;
}

/* -----------------------------
   FORMULÁRIOS
------------------------------*/
.mvp-page {
    padding-top: 150px;
}


.formatacao-forms {
    background-color: #27187E;
    border-radius: 15px;
    padding: 25px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0 12px 30px 15px rgba(24, 79, 231, 0.5);
    overflow: hidden;
    color: #FFEBAF;
}


.inputbox {
    position: relative;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 12px 15px;
    margin-top: 20px;
    backdrop-filter: blur(4px);
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 2px solid #FFEBAF;
    outline: none;
    color: #FFEBAF;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}

.labelinput {
    position: absolute;
    top: 12px;
    left: 15px;
    pointer-events: none;
    transition: 0.3s;
    color: #FFEBAF;
}

.inputuser:focus~.labelinput,
.inputuser:valid~.labelinput {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #fff9b0;
}

.radio-box {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 15px;
    backdrop-filter: blur(4px);
    color: #FFEBAF;
}

.titulosexo {
    font-size: 15px;
    color: #FFEBAF;
    margin-bottom: 10px;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.radio-item input[type="radio"] {
    accent-color: #FFEBAF;
}

.radio-item label {
    margin-left: 8px;
    color: white;
}

.select-box label {
    color: #FFEBAF;
    margin-bottom: 8px;
    display: block;
}

.select-box select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.12);
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
}

.select-box {
    position: relative;
}

.range {
    color: #FFEBAF;
}

.select-box::after {
    position: absolute;
    right: 15px;
    top: 55px;
    font-size: 12px;
    color: #FFEBAF;
    pointer-events: none;
}


.select-box select option {
    background-color: #FFEBAF;
    color: #000;
}


#submit,
#reset {
    width: 70%;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFEBAF;
    transition: all 0.3s ease;
    color: #27187E;
}

#submit:hover {
    text-shadow: 0 0 5px rgb(19, 122, 206);
    box-shadow: 0 0 15px rgba(12, 126, 192, 0.945);
    color: rgb(19, 122, 206);
}

#reset:hover {
    text-shadow: 0 0 5px rgb(224, 30, 5);
    box-shadow: 0 0 15px rgba(241, 42, 7, 0.945);
    color: rgb(224, 30, 5);
}

#submit:active {
    transform: scale(0.97);
    background-color: rgb(19, 122, 206);
    color: #FFEBAF;
}

#reset:active {
    transform: scale(0.97);
    background-color: rgb(230, 12, 12);
    color: #FFEBAF;
}